@model GiftPoint.Models.Weight
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}


<div id="ribbon">
    <span class="ribbon-button-alignment">
    </span>
    <ol class="breadcrumb">
        <li>Configuration</li>
        <li>Weight</li>
        @if (Model.WeightId != 0)
        {
            if (ViewData["IsView"] != null)
            {
                <li>View</li>
            }
            else
            {
                <li>Edit</li>
            }
        }
        else
        {
            <li>Add</li>
        }
    </ol>
</div>

<div id="content">
    <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @if (Model.WeightId != 0)
            {
                if (ViewData["IsView"] != null)
                {
                    <h1><i class="fa fa-desktop fa-fw "></i> View Weight</h1>
                }
                else
                {
                    <h1><i class="fa fa-edit fa-fw "></i> Edit Weight</h1>
                }
            }
            else
            {
                <h1><i class="fa fa-save fa-fw "></i> Add Weight</h1>
            }
        </div>
    </div>

    <section class="">
        <div class="row">
            <article class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @Html.Partial("OperationMessage")

                <div class="jarviswidget jarviswidget-color-darken topdarkborder">

                    @using (Html.BeginForm("Create", "Weight", FormMethod.Post, new { @class = "smart-form", role = "form", @name = "myform" }))
                    {
                        @Html.AntiForgeryToken();
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.WeightId)

                        <fieldset>
                            <div class="row">
                                <section class="col col-md-12">
                                    <div class="req">Weight Title</div>
                                    <label class="input">
                                        @Html.TextBoxFor(m => m.WeightTitle, new { @class = "form-control", @placeholder = "Weight Title", @required = "required" })
                                        @Html.ValidationMessageFor(m => m.WeightTitle, "", new { @class = "text-danger" })
                                    </label>
                                </section>
                            </div>
                        </fieldset>

                        <footer>
                            <a class="btn btn-default" href="@Url.Action("Index", "Weight")">Cancel</a>
                            <button type="button" class="btn btn-primary" id="save">
                                <i class="fa fa-save"></i>  Save
                            </button>
                        </footer>
                    }

                </div>
            </article>
        </div>
    </section>
</div>

<script type="text/javascript">

    $(document).ready(function (e) {
        var isView = '@ViewData["IsView"]';

        if (isView == "1") {
            $("input").attr("readonly", true);
            $("input[type='checkbox']").attr("disabled", true);
            $('.checkbox,input,select,textarea').css('cursor', 'no-drop');
            $("#save").hide();
        }
    });

</script>