@model GiftPoint.Models.ProductPhoto
@{
    ViewBag.Title = "Upload Images";
}
@using GiftPoint.Common;

<div id="content">
    <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1><i class="fa fa-upload fa-fw "></i> Upload Images </h1>
        </div>
    </div>

    <section class="">
        <div class="row">
            <article class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @Html.Partial("OperationMessage")

                <div class="jarviswidget jarviswidget-color-darken topdarkborder">
                    @using (Html.BeginForm("UploadImages", "Product", FormMethod.Post, new { @class = "smart-form", role = "form", @name = "myform", @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken();
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.ProductId)

                        <fieldset>                                                      

                            <div class="row">
                                <section class="col col-12">
                                    <input type="hidden" id="TotDetailRowNo">
                                    <div style="height: auto;overflow-y:auto;overflow-x:auto;">
                                        <table class="table table-bordered table-striped mb-none table-hover" id="datatable2">
                                            <thead>
                                                <tr>                                                    
                                                    <th class="col-3">File Preview</th>
                                                    <th class="col-7">File </th>
                                                    <th class="col-2"> Action </th>
                                                </tr>
                                            </thead>
                                            <tbody id="DocmentBodyID">
                                                @if (Model != null)
                                                {
                                                    if (Model.Detail != null && Model.Detail.Count > 0)
                                                    {
                                                        var host = new UriBuilder(Request.Url.Scheme, Request.Url.Host, Request.Url.Port);
                                                        int a = 0;
                                                        foreach (var item in Model.Detail)
                                                        {
                                                            string img_path = $"{host}{Constants.PRODUCT_IMAGES_DIRECTORY_PATH}{item.ProductId}/{item.PhotoPath}";
                                                            <tr id="tr_@a">
                                                                <td> <img id="img_preview_@a" src="@img_path" class="img-responsive img-centre" style="max-height:100px;" />  </td>
                                                                <td> <input type="file" id="btnInput-image_@a" accept=".jpg, .jpeg, .png" name="File" onchange="previewImage(this, @a)">  
                                                                    <input type="hidden" id="input-image_@a" value="@item.PhotoPath" name="EditFilePath" />
                                                                    <small>Only [.jpg, .jpeg, .png] format</small> <br />
                                                                    <a href="@img_path" target="_blank">Download</a> 
                                                                </td>
                                                                <td> 
                                                                    <button type="button" style="" id="add_@a" title="Add" value="+" onclick="AddDetailData()" class="btn btn-success  btn-xs btn-circle"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span><strong></strong></span></button>
                                                                    <button type="button" style="" id="del_@a" title="Remove" value="-" onclick="DeleteDetailData(@a)" class="btn btn-danger  btn-xs btn-circle"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span><span><strong></strong></span></button>
                                                                </td>
                                                            </tr>
                                                            a++;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr id="tr_0">
                                                            <td> <img id="img_preview_0" class="img-responsive img-centre" style="max-height:100px;">  </td>
                                                            <td> 
                                                                <input type="file" id="btnInput-image_0" accept=".jpg, .jpeg, .png" name="File" onchange="previewImage(this, 0)">  
                                                                <input id="input-image_0" type="hidden" value="" name="EditFilePath"> 
                                                                <small>Only [.jpg, .jpeg, .png] format</small> 
                                                            </td>
                                                            <td>
                                                                <button type="button" style="display: none;" id="add_0" title="Add" value="+" onclick="AddDetailData()" class="btn btn-success  btn-xs btn-circle"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span><strong></strong></span></button>
                                                                &nbsp;<button type="button" style="display: none;" id="del_0" title="Remove" value="-" onclick="DeleteDetailData(0)" class="btn btn-danger  btn-xs btn-circle"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span><span><strong></strong></span></button>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </section>

                            </div>
                        </fieldset>

                        <footer>                            
                            <button type="button" class="btn btn-primary" id="save">
                                <i class="fa fa-save"></i>  Save
                            </button>
                        </footer>
                    }
                </div>
            </article>
        </div>
    </section>
</div>

<script type="text/javascript">

    var files = [];

    $(document).ready(function (e) {
        $('#save').click(function() {
            
            if (window.FormData !== undefined) {
                debugger;

                //var fileUpload = $("#file").get(0);
                //var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                // Adding one more key to FormData object
                fileData.append('ProductId', $("#ProductId").val());

                //showProcessingPopup();
                $.ajax({
                    url: '/Product/UploadImages',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        //hideProcessingPopup();
                        $('.dialogWide').find('.close').trigger('click');
                        bootbox.alert(result);
                    },
                    error: function (err) {
                        bootbox.alert(err.statusText);
                        //hideProcessingPopup();
                    }
                });
            }
        });
    });    

    function AddDetailData() {
        debugger;        
       
        var lastRowID = $('#DocmentBodyID tr:last').attr('id');
        if (lastRowID != undefined) {
            lastRowID = parseInt(lastRowID.split('_')[1]) + 1;
        } else {
            lastRowID = 0;
        }
        
        var row = GetRow(lastRowID);
        $('#DocmentBodyID').append(row);
    }

    function GetRow(Id) {
        //debugger;
        var row = `<tr id="tr_${Id}">`;

        row += `<td> <img id="img_preview_${Id}" class="img-responsive img-centre" style="max-height:100px;">  </td>`;
        row += `<td> <input type="file" id="btnInput-image_${Id}" accept=".jpg, .jpeg, .png" name="File" onchange="previewImage(this, ${Id})">  <input id="input-image_${Id}" type="hidden" value="" name="EditFilePath"> </td>`;
        row += ` <td> <button type="button" style="display: none;" id="add_${Id}" title="Add" value="+" onclick="AddDetailData(${Id})" class="btn btn-success  btn-xs btn-circle"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span><strong></strong></span></button> `;
        row += `<button type="button" style="display: none;" id="del_${Id}" title="Remove" value="-" onclick="DeleteDetailData(${Id})" class="btn btn-danger  btn-xs btn-circle"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span><span><strong></strong></span></button></td>`;

        row += `</tr>`;

        return row;
    }

    //--- Image Preview on selection
    function previewImage(input, Id) {
        debugger;
        if (input.files && input.files[0]) {
            console.log(input.files);
            console.log(input.files[0]);

            var reader = new FileReader();
            reader.onload = function (e) {
                $(`#img_preview_${Id}`).attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
            $(`#add_${Id}`).css('display', '');
            $(`#del_${Id}`).css('display', '');

            files.push(input.files[0]);
        }
    }

    function DeleteDetailData(Id) {
        debugger;

        var lastCount = $('#DocmentBodyID tr').length;
        if (lastCount == 1) {
            $(`#img_preview_${Id}`).removeAttr('src');
            $(`#input-image_${Id}`).val('');
            $(`#btnInput-image_${Id}`).val('');
            $(`#add_${Id}`).css('display', 'none');
            $(`#del_${Id}`).css('display', 'none');  
        } else {
            $(`#tr_${Id}`).remove();
        }
    }

</script>
